<ul>

  <li
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </li>

  <li
    routerLink="/content"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Content
  </li>
  <li
    routerLink="/content/1"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Content 1
  </li>
  <li
    routerLink="/content/2"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Content 2
  </li>
  <li
    routerLink="/content/1/category/2"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Content 1 Category 2
  </li>
</ul>

<router-outlet></router-outlet>
